{% load static %}
<div class="card shadow mb-4" xmlns="http://www.w3.org/1999/html">
    <div class="card-header py-3">
        <a href="/"><h6 class="m-0 font-weight-bold text-primary" style="float:left; padding-right: 9em;">MeritBridge Replacement App</h6></a>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div style="margin-top:1em; margin-bottom:1em; margin-right:2em;" class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="card-body">
        {% if user.is_authenticated %}
            <div class="table-responsive">
                {% if form_data_present %}
                    <h3>Update Application <span style="font-size:0.7em">(or <a href='/applications'>create a new application</a>)</span></h3>
                    <form id='form_to_submit' action="/update_application_form/{{ pk }}" method="post">
                {% else %}
                    <h3>Create Application</h3>
                    <form id='form_to_submit' action="/create_application_form" method="post">
                {% endif %}
                    {% csrf_token %}

                    {% if form.errors or form.non_field_errors %}
                        <p>{{ form.errors }}</p>
                        <p>{{ form.non_field_errors }}</p>
                    {% endif %}

                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.candidate.errors }}
                        <label for="{{ form.candidate.id_for_label }}">Candidate</label>
                        <br />
                        {{ form.candidate }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.position.errors }}
                        <label for="{{ form.position.id_for_label }}">Position</label>
                        <br />
                        {{ form.position }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.job.errors }}
                        <label for="{{ form.job.id_for_label }}">Job</label>
                        <br />
                        {{ form.job }}
                    </div>
                    <br />
                    <div>
                        <button type="submit" class="btn btn-primary" style="margin-left:1em;" id="button-submit">
                            {% if form_data_present %}
                                Update
                            {% else %}
                                Create
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="table-responsive">
                <h6 style="color:#3333cc">Please log in to create or update data</h6>
            </div>
        {% endif %}
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <h3>Applications</h3>
            <table id="application_table" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Candidate</th>
                        <th>Position</th>
                        <th>Job</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Candidate</th>
                        <th>Position</th>
                        <th>Job</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if applications %}
                        {% for application in applications %}
                            <tr>
                                <td><a href="/applications/{{ application.id }}">{{ application.candidate }}</a></td>
                                <td>{{ application.position|default_if_none:"" }}</td>
                                <td>{{ application.job|default_if_none:"" }}</td>
                                <td>{{ application.created_at|default_if_none:"" }}</td>
                                <td>{{ application.updated_at|default_if_none:"" }}</td>
                                <td>{{ application.created_by|default_if_none:"" }}</td>
                                <td>{{ application.last_updated_by|default_if_none:"" }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
