{% load static %}
<div class="card shadow mb-4" xmlns="http://www.w3.org/1999/html">
    <div class="card-header py-3">
        <a href="/"><h6 class="m-0 font-weight-bold text-primary" style="float:left; padding-right: 9em;">MeritBridge Replacement App</h6></a>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div style="margin-top:1em; margin-bottom:1em; margin-right:2em;" class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="card-body">
        {% if user.is_authenticated %}
            <div class="table-responsive">
                {% if form_data_present %}
                    <h3>Update Candidate <span style="font-size:0.7em">(or <a href='/candidates'>create a new candidate</a>)</span></h3>
                    <form id='form_to_submit' action="/update_candidate_form/{{ pk }}" method="post">
                {% else %}
                    <h3>Create Candidate</h3>
                    <form id='form_to_submit' action="/create_candidate_form" method="post">
                {% endif %}
                    {% csrf_token %}

                    {% if form.errors or form.non_field_errors %}
                        <p>{{ form.errors }}</p>
                        <p>{{ form.non_field_errors }}</p>
                    {% endif %}

                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.last_name.errors }}
                        <label for="{{ form.last_name.id_for_label }}">Last Name</label>
                        <br />
                        {{ form.last_name }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.first_name.errors }}
                        <label for="{{ form.first_name.id_for_label }}">First Name</label>
                        <br />
                        {{ form.first_name }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.email.errors }}
                        <label for="{{ form.email.id_for_label }}">Email</label>
                        <br />
                        {{ form.email }}
                    </div>
                    <br />
                    <div>
                        <button type="submit" class="btn btn-primary" style="margin-left:1em;" id="button-submit">
                            {% if form_data_present %}
                                Update
                            {% else %}
                                Create
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="table-responsive">
                <h6 style="color:#3333cc">Please log in to create or update data</h6>
            </div>
        {% endif %}
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <h3>Candidates</h3>
            <table id="candidate_table" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>SR UUID</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>SR UUID</th>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if candidates %}
                        {% for candidate in candidates %}
                            <tr>
                                <td><a href="/candidates/{{ candidate.id }}">{{ candidate.sr_uuid }}</a></td>
                                <td>{{ candidate.last_name|default_if_none:"" }}</td>
                                <td>{{ candidate.first_name|default_if_none:"" }}</td>
                                <td>{{ candidate.email|default_if_none:"" }}</td>
                                <td>{{ candidate.created_at|default_if_none:"" }}</td>
                                <td>{{ candidate.updated_at|default_if_none:"" }}</td>
                                <td>{{ candidate.created_by|default_if_none:"" }}</td>
                                <td>{{ candidate.last_updated_by|default_if_none:"" }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
