{% load static %}
<div class="card shadow mb-4" xmlns="http://www.w3.org/1999/html">
    <div class="card-header py-3">
        <a href="/"><h6 class="m-0 font-weight-bold text-primary" style="float:left; padding-right: 9em;">MeritBridge Replacement App</h6></a>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div style="margin-top:1em; margin-bottom:1em; margin-right:2em;" class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}

    {% if form_data_present %}
        <div class="card-body">
            <div class="table-responsive">
                <h3>Candidates on Eligible List {{ form.code.value }}</h3>
                <table id="eligiblelistcandidate_table" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Eligible List Candidate ID</th>
                            <th>Eligible List</th>
                            <th>Candidate</th>
                            <th>Score</th>
                            <th>Rank</th>
                            <th>Notes</th>
                            <th>Active</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th>Created By</th>
                            <th>Last Updated By</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Eligible List Candidate ID</th>
                            <th>Eligible List</th>
                            <th>Candidate</th>
                            <th>Score</th>
                            <th>Rank</th>
                            <th>Notes</th>
                            <th>Active</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th>Created By</th>
                            <th>Last Updated By</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% if eligiblelistcandidates %}
                            {% for eligiblelistcandidate in eligiblelistcandidates %}
                                <tr>
                                    <td><a href="/eligiblelistcandidates/{{ eligiblelistcandidate.id }}">{{ eligiblelistcandidate.id }}</a></td>
                                    <td>{{ eligiblelistcandidate.eligible_list }}</td>
                                    <td>{{ eligiblelistcandidate.candidate }}</td>
                                    <td>{{ eligiblelistcandidate.score | floatformat:5 }}</td>
                                    <td>{{ eligiblelistcandidate.rank }}</td>
                                    <td>{{ eligiblelistcandidate.notes }}</td>
                                    {% if eligiblelistcandidate.active %}
                                        <td>
                                            <form id='mark_inactive_el_form' action="/toggle_active_status_eligiblelistcandidate" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="elcandidate_id" value="{{ eligiblelistcandidate.id }}">
                                                <button type="submit" class="btn btn-success"" id="button-submit">Active</button>
                                            </form>
                                        </td>
                                    {% else %}
                                    <td>
                                        <form id='mark_active_el_form' action="/toggle_active_status_eligiblelistcandidate" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="elcandidate_id" value="{{ eligiblelistcandidate.id }}">
                                            <button type="submit" class="btn btn-danger"" id="button-submit">Inactive</button>
                                        </form>
                                    </td>
                                    {% endif %}
                                    <td>{{ eligiblelistcandidate.created_at }}</td>
                                    <td>{{ eligiblelistcandidate.updated_at }}</td>
                                    <td>{{ eligiblelistcandidate.created_by }}</td>
                                    <td>{{ eligiblelistcandidate.last_updated_by }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    <div class="card-body">
        {% if user.is_authenticated %}
            <div class="table-responsive">
                {% if form_data_present %}
                    <h3>Update Eligible List <span style="font-size:0.7em">(or <a href='/eligible_lists'>create a new Eligible List</a>)</span></h3>
                    <form id='form_to_submit' action="/update_eligible_list_form/{{ pk }}" method="post">
                {% else %}
                    <h3>Create Eligible List</h3>
                    <form id='form_to_submit' action="/create_eligible_list_form" method="post">
                {% endif %}
                    {% csrf_token %}

                    {% if form.errors or form.non_field_errors %}
                        <p>{{ form.errors }}</p>
                        <p>{{ form.non_field_errors }}</p>
                    {% endif %}

                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.code.errors }}
                        <label for="{{ form.code.id_for_label }}">Eligible List Code (EL Number)</label>
                        <br />
                        {{ form.code }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.job_class.errors }}
                        <label for="{{ form.job_class.id_for_label }}">Job Class (Job Code)</label>
                        <br />
                        {{ form.job_class }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.specialty.errors }}
                        <label for="{{ form.specialty.id_for_label }}">Specialty</label>
                        <br />
                        {{ form.specialty }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.eligible_list_rule.errors }}
                        <label for="{{ form.eligible_list_rule.id_for_label }}">Eligible List Rule</label>
                        <br />
                        {{ form.eligible_list_rule }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.scoring_model.errors }}
                        <label for="{{ form.scoring_model.id_for_label }}">Scoring Model</label>
                        <br />
                        {{ form.scoring_model }}
                    </div>
                    <br />
                    <!-- <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.posted.errors }}
                        <label for="{{ form.posted.id_for_label }}">Posted</label>
                        <br />
                        {{ form.posted }}
                    </div>
                    <br /> -->
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.inspection_start.errors }}
                        <label for="{{ form.inspection_start.id_for_label }}">Inspection Start</label>
                        <br />
                        {{ form.inspection_start }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.inspection_end.errors }}
                        <label for="{{ form.inspection_end.id_for_label }}">Inspection End</label>
                        <br />
                        {{ form.inspection_end }}
                    </div>
                    <br />
                    <!-- <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.adopted.errors }}
                        <label for="{{ form.adopted.id_for_label }}">Adopted</label>
                        <br />
                        {{ form.adopted }}
                    </div>
                    <br /> -->
                    <div>
                        <button type="submit" class="btn btn-primary" style="margin-left:1em;" id="button-submit">
                            {% if form_data_present %}
                                Update
                            {% else %}
                                Create
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="table-responsive">
                <h6 style="color:#3333cc">Please log in to create or update data</h6>
            </div>
        {% endif %}
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <h3>Eligible Lists</h3>
            <table id="eligible_list_table" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Job Class</th>
                        <th>Specialty</th>
                        <th>Eligible List Rule</th>
                        <th>Scoring Model</th>
                        <th>Posted</th>
                        <th>Inspection Start</th>
                        <th>Inspection End</th>
                        <th>Adopted</th>
                        <th>Score Report</th>
                        <th>Eligible List</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Code</th>
                        <th>Job Class</th>
                        <th>Specialty</th>
                        <th>Eligible List Rule</th>
                        <th>Scoring Model</th>
                        <th>Posted</th>
                        <th>Inspection Start</th>
                        <th>Inspection End</th>
                        <th>Adopted</th>
                        <th>Score Report</th>
                        <th>Eligible List</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if eligible_lists %}
                        {% for eligible_list in eligible_lists %}
                            <tr>
                                <td><a href="/eligible_lists/{{ eligible_list.id }}">{{ eligible_list.code }}</a></td>
                                <td>{{ eligible_list.job_class }}</td>
                                <td>{{ eligible_list.specialty }}</td>
                                <td>{{ eligible_list.eligible_list_rule }}</td>
                                <td>{{ eligible_list.scoring_model }}</td>
                                {% if eligible_list.posted %}
                                    <td>{{ eligible_list.posted }}</td>
                                {% else %}
                                    <td>
                                        <form id='post_el_form' action="/post_eligible_list" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="el_id" value="{{ eligible_list.id }}">
                                            <button type="submit" class="btn btn-primary"" id="button-submit">Post</button>
                                        </form>
                                    </td>
                                {% endif %}
                                <td>{{ eligible_list.inspection_start }}</td>
                                <td>{{ eligible_list.inspection_end }}</td>
                                {% if eligible_list.adopted %}
                                    <td>{{ eligible_list.adopted }}</td>
                                {% else %}
                                    <td>
                                        <form id='adopt_el_form' action="/adopt_eligible_list" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="el_id" value="{{ eligible_list.id }}">
                                            <button type="submit" class="btn btn-primary"" id="button-submit">Adopt</button>
                                        </form>
                                    </td>
                                {% endif %}
                                <td>
                                    <a href='/score_report_pdf/{{ eligible_list.id }}' target="_blank">Score Report PDF</a>
                                </td>
                                <td>
                                    <a href='/eligible_list_pdf/{{ eligible_list.id }}' target="_blank">Eligible List PDF</a>
                                </td>
                                <td>{{ eligible_list.created_at }}</td>
                                <td>{{ eligible_list.updated_at }}</td>
                                <td>{{ eligible_list.created_by }}</td>
                                <td>{{ eligible_list.last_updated_by }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
