{% load static %}
<div class="card shadow mb-4" xmlns="http://www.w3.org/1999/html">
    <div class="card-header py-3">
        <a href="/"><h6 class="m-0 font-weight-bold text-primary" style="float:left; padding-right: 9em;">MeritBridge Replacement App</h6></a>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div style="margin-top:1em; margin-bottom:1em; margin-right:2em;" class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="card-body">
        {% if user.is_authenticated %}
            <div class="table-responsive">
                {% if form_data_present %}
                    <h3>Update a Candidate on a Referral <span style="font-size:0.7em">(or <a href='/eligiblelistcandidatereferrals'>create a new Eligible List Candidate Referral</a>)</span></h3>
                    <form id='form_to_submit' action="/update_eligiblelistcandidatereferral_form/{{ pk }}" method="post">
                {% else %}
                    <h3>Add a Candidate to a Referral</h3>
                    <form id='form_to_submit' action="/create_eligiblelistcandidatereferral_form" method="post">
                {% endif %}
                    {% csrf_token %}

                    {% if form.errors or form.non_field_errors %}
                        <p>{{ form.errors }}</p>
                        <p>{{ form.non_field_errors }}</p>
                    {% endif %}

                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.eligible_list_candidate.errors }}
                        <label for="{{ form.eligible_list_candidate.id_for_label }}">Eligible List Candidate</label>
                        <br />
                        {{ form.eligible_list_candidate }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.referral.errors }}
                        <label for="{{ form.referral.id_for_label }}">Referral</label>
                        <br />
                        {{ form.referral }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.status.errors }}
                        <label for="{{ form.status.id_for_label }}">Status</label>
                        <br />
                        {{ form.status }}
                    </div>
                    <br />
                    {% if form_data_present %}
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.active.errors }}
                        <label for="{{ form.active.id_for_label }}">Active</label>
                        <br />
                        {{ form.active }}
                    </div>
                    {% else %}
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        <label for="id_active">Active</label>
                        <br>
                        <input type="checkbox" name="active" style="width: 20px; height: 20px" id="id_active" checked="true">
                    </div>
                    {% endif %}
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.notes.errors }}
                        <label for="{{ form.notes.id_for_label }}">Notes</label>
                        <br />
                        {{ form.notes }}
                    </div>
                    <br />
                    <div>
                        <button type="submit" class="btn btn-primary" style="margin-left:1em;" id="button-submit">
                            {% if form_data_present %}
                                Update
                            {% else %}
                                Create
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="table-responsive">
                <h6 style="color:#3333cc">Please log in to create or update data</h6>
            </div>
        {% endif %}
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <h3>Referral Candidates</h3>
            <table id="eligiblelistcandidatereferral_table" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Referral Candidate ID</th>
                        <th>Eligible List Candidate</th>
                        <th>Referral</th>
                        <th>Status</th>
                        <th>Notes</th>
                        <th>Active</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Referral Candidate ID</th>
                        <th>Eligible List Candidate</th>
                        <th>Referral</th>
                        <th>Status</th>
                        <th>Notes</th>
                        <th>Active</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if eligiblelistcandidatereferrals %}
                        {% for eligiblelistcandidatereferral in eligiblelistcandidatereferrals %}
                            <tr>
                                <td><a href="/eligiblelistcandidatereferrals/{{ eligiblelistcandidatereferral.id }}">{{ eligiblelistcandidatereferral.id }}</a></td>
                                <td>{{ eligiblelistcandidatereferral.eligible_list_candidate|default_if_none:"" }}</td>
                                <td>{{ eligiblelistcandidatereferral.referral|default_if_none:"" }}</td>
                                <td>{{ eligiblelistcandidatereferral.status|default_if_none:"" }}</td>
                                <td>{{ eligiblelistcandidatereferral.notes|default_if_none:"" }}</td>
                                {% if eligiblelistcandidatereferral.active %}
                                    <td>
                                        <form id='mark_inactive_el_form' action="/toggle_active_status_eligiblelistcandidatereferral" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="elcandidatereferral_id" value="{{ eligiblelistcandidatereferral.id }}">
                                            <button type="submit" class="btn btn-success"" id="button-submit">Active</button>
                                        </form>
                                    </td>
                                {% else %}
                                <td>
                                    <form id='mark_active_el_form' action="/toggle_active_status_eligiblelistcandidatereferral" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="elcandidatereferral_id" value="{{ eligiblelistcandidatereferral.id }}">
                                        <button type="submit" class="btn btn-danger"" id="button-submit">Inactive</button>
                                    </form>
                                </td>
                                {% endif %}
                                <td>{{ eligiblelistcandidatereferral.created_at|default_if_none:"" }}</td>
                                <td>{{ eligiblelistcandidatereferral.updated_at|default_if_none:"" }}</td>
                                <td>{{ eligiblelistcandidatereferral.created_by|default_if_none:"" }}</td>
                                <td>{{ eligiblelistcandidatereferral.last_updated_by|default_if_none:"" }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
