{% load static %}
<div class="card shadow mb-4" xmlns="http://www.w3.org/1999/html">
    <div class="card-header py-3">
        <a href="/"><h6 class="m-0 font-weight-bold text-primary" style="float:left; padding-right: 9em;">MeritBridge Replacement App</h6></a>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div style="margin-top:1em; margin-bottom:1em; margin-right:2em;" class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="card-body">
        {% if user.is_authenticated %}
            <div class="table-responsive">
                {% if form_data_present %}
                    <h3>Update a Candidate on an Eligible List <span style="font-size:0.7em">(or <a href='/eligiblelistcandidates'>Add a Candidate to an Eligible List</a>)</span></h3>
                    <form id='form_to_submit' action="/update_eligiblelistcandidate_form/{{ pk }}" method="post">
                {% else %}
                    <h3>Add a Candidate to an Eligible List</h3>
                    <form id='form_to_submit' action="/create_eligiblelistcandidate_form" method="post">
                {% endif %}
                    {% csrf_token %}

                    {% if form.errors or form.non_field_errors %}
                        <p>{{ form.errors }}</p>
                        <p>{{ form.non_field_errors }}</p>
                    {% endif %}

                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.eligible_list.errors }}
                        <label for="{{ form.eligible_list.id_for_label }}">Eligible List</label>
                        <br />
                        {{ form.eligible_list }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.candidate.errors }}
                        <label for="{{ form.candidate.id_for_label }}">Candidate</label>
                        <br />
                        {{ form.candidate }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.score.errors }}
                        <label for="{{ form.score.id_for_label }}">Score</label>
                        <br />
                        {{ form.score }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.rank.errors }}
                        <label for="{{ form.rank.id_for_label }}">Rank</label>
                        <br />
                        {{ form.rank }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.notes.errors }}
                        <label for="{{ form.notes.id_for_label }}">Notes</label>
                        <br />
                        {{ form.notes }}
                    </div>
                    <br />
                    <div>
                        <button type="submit" class="btn btn-primary" style="margin-left:1em;" id="button-submit">
                            {% if form_data_present %}
                                Update
                            {% else %}
                                Create
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="table-responsive">
                <h6 style="color:#3333cc">Please log in to create or update data</h6>
            </div>
        {% endif %}
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <h3>Eligible List Candidates</h3>
            <table id="eligiblelistcandidate_table" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Eligible List Candidate ID</th>
                        <th>Eligible List</th>
                        <th>Candidate</th>
                        <th>Score</th>
                        <th>Rank</th>
                        <th>Notes</th>
                        <th>Active</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Eligible List Candidate ID</th>
                        <th>Eligible List</th>
                        <th>Candidate</th>
                        <th>Score</th>
                        <th>Rank</th>
                        <th>Notes</th>
                        <th>Active</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if eligiblelistcandidates %}
                        {% for eligiblelistcandidate in eligiblelistcandidates %}
                            <tr>
                                <td><a href="/eligiblelistcandidates/{{ eligiblelistcandidate.id }}">{{ eligiblelistcandidate.id }}</a></td>
                                <td>{{ eligiblelistcandidate.eligible_list|default_if_none:"" }}</td>
                                <td>{{ eligiblelistcandidate.candidate|default_if_none:"" }}</td>
                                <td>{{ eligiblelistcandidate.score|floatformat:5|default_if_none:"" }}</td>
                                <td>{{ eligiblelistcandidate.rank|default_if_none:"" }}</td>
                                <td>{{ eligiblelistcandidate.notes|default_if_none:"" }}</td>
                                {% if eligiblelistcandidate.active %}
                                    <td>
                                        <form id='mark_inactive_el_form' action="/toggle_active_status_eligiblelistcandidate" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="elcandidate_id" value="{{ eligiblelistcandidate.id }}">
                                            <button type="submit" class="btn btn-success"" id="button-submit">Active</button>
                                        </form>
                                    </td>
                                {% else %}
                                <td>
                                    <form id='mark_active_el_form' action="/toggle_active_status_eligiblelistcandidate" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="elcandidate_id" value="{{ eligiblelistcandidate.id }}">
                                        <button type="submit" class="btn btn-danger"" id="button-submit">Inactive</button>
                                    </form>
                                </td>
                                {% endif %}
                                <td>{{ eligiblelistcandidate.created_at|default_if_none:"" }}</td>
                                <td>{{ eligiblelistcandidate.updated_at|default_if_none:"" }}</td>
                                <td>{{ eligiblelistcandidate.created_by|default_if_none:"" }}</td>
                                <td>{{ eligiblelistcandidate.last_updated_by|default_if_none:"" }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
