{% load static %}
<div class="card shadow mb-4" xmlns="http://www.w3.org/1999/html">
    <div class="card-header py-3">
        <a href="/"><h6 class="m-0 font-weight-bold text-primary" style="float:left; padding-right: 9em;">MeritBridge Replacement App</h6></a>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div style="margin-top:1em; margin-bottom:1em; margin-right:2em;" class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="card-body">
        {% if user.is_authenticated and user_is_in_admins %}
            <div class="table-responsive">
                {% if form_data_present %}
                    <h3>Update an Eligible List Candidate on a Referral <span style="font-size:0.7em">(or <a href='/eligiblelistcandidatereferrals'>create a new Eligible List Candidate Referral</a>)</span></h3>
                    <form id='form_to_submit' action="/update_eligiblelistcandidatereferral_form/{{ pk }}" method="post">
                {% else %}
                    <h3>Add an Eligible List Candidate to a Referral</h3>
                    <form id='form_to_submit' action="/create_eligiblelistcandidatereferral_form" method="post">
                {% endif %}
                    {% csrf_token %}

                    {% if form.errors or form.non_field_errors %}
                        <p>{{ form.errors }}</p>
                        <p>{{ form.non_field_errors }}</p>
                    {% endif %}

                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.eligible_list_candidate.errors }}
                        <label for="{{ form.eligible_list_candidate.id_for_label }}">Eligible List Candidate</label>
                        <br />
                        {{ form.eligible_list_candidate }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.referral.errors }}
                        <label for="{{ form.referral.id_for_label }}">Referral</label>
                        <br />
                        {{ form.referral }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.notes.errors }}
                        <label for="{{ form.notes.id_for_label }}">Notes</label>
                        <br />
                        {{ form.notes }}
                    </div>
                    <br />
                    <div>
                        <button type="submit" class="btn btn-primary" style="margin-left:1em;" id="button-submit">
                            {% if form_data_present %}
                                Update
                            {% else %}
                                Create
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="table-responsive">
                <h5>Please log in to create or update data</h5>
            </div>
        {% endif %}
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <h3>Eligible List Candidate Referrals</h3>
            <table id="eligiblelistcandidatereferral_table" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>EligibleListCandidateReferral ID</th>
                        <th>Eligible List Candidate</th>
                        <th>Referral</th>
                        <th>Notes</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>EligibleListCandidateReferral ID</th>
                        <th>Eligible List Candidate</th>
                        <th>Referral</th>
                        <th>Notes</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if eligiblelistcandidatereferrals %}
                        {% for eligiblelistcandidatereferral in eligiblelistcandidatereferrals %}
                            <tr>
                                <td><a href="/eligiblelistcandidatereferrals/{{ eligiblelistcandidatereferral.id }}">{{ eligiblelistcandidatereferral.id }}</a></td>
                                <td>{{ eligiblelistcandidatereferral.eligible_list_candidate }}</td>
                                <td>{{ eligiblelistcandidatereferral.referral }}</td>
                                <td>{{ eligiblelistcandidatereferral.notes }}</td>
                                <td>{{ eligiblelistcandidatereferral.created_at }}</td>
                                <td>{{ eligiblelistcandidatereferral.updated_at }}</td>
                                <td>{{ eligiblelistcandidatereferral.created_by }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
