{% load static %}
{% if user.is_authenticated %}
    <form class="user" action="/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <p>
                Welcome to MeritBridge Replacement App, {{ user.first_name }}
            </p>
            {% if user_is_in_admins %}
                <p>
                    Create, read, update, and delete <a href="/admin">data</a>
                </p>
            {% endif %}
            <h6><a href="/eligible_lists">Eligible Lists</a></h6>
        </div>
    </form>
{% endif %}