{% load static %}
{% if user.is_authenticated %}
    <form class="user" action="/" method="post">
        {% csrf_token %}
        <div class="form-group">
            <p>
                Welcome to Psych App, {{ user.first_name }}
            </p>
            {% if user_is_in_admins and user_is_in_non_bal_group %}
                <p>
                    View submitted <a href="./view_psych_forms">forms</a>
                </p>
                <p>
                    Create, read, update, and delete <a href="./admin">data</a>
                </p>
            {% endif %}
        </div>
    </form>
{% endif %}