{% load static %}
<div class="card shadow mb-4" xmlns="http://www.w3.org/1999/html">
    <div class="card-header py-3">
        <a href="/"><h6 class="m-0 font-weight-bold text-primary" style="float:left; padding-right: 9em;">MeritBridge Replacement App</h6></a>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div style="margin-top:1em; margin-bottom:1em; margin-right:2em;" class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="card-body">
        {% if user.is_authenticated %}
            <div class="table-responsive">
                {% if form_data_present %}
                    <h3>Update Job Class <span style="font-size:0.7em">(or <a href='/jobclasses'>create a new Job Class</a>)</span></h3>
                    <form id='form_to_submit' action="/update_jobclass_form/{{ pk }}" method="post">
                {% else %}
                    <h3>Create Job Class</h3>
                    <form id='form_to_submit' action="/create_jobclass_form" method="post">
                {% endif %}
                    {% csrf_token %}

                    {% if form.errors or form.non_field_errors %}
                        <p>{{ form.errors }}</p>
                        <p>{{ form.non_field_errors }}</p>
                    {% endif %}

                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.title.errors }}
                        <label for="{{ form.title.id_for_label }}">Title</label>
                        <br />
                        {{ form.title }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.description.errors }}
                        <label for="{{ form.description.id_for_label }}">Description</label>
                        <br />
                        {{ form.description }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.code.errors }}
                        <label for="{{ form.code.id_for_label }}">Code</label>
                        <br />
                        {{ form.code }}
                    </div>
                    <br />
                    <div>
                        <button type="submit" class="btn btn-primary" style="margin-left:1em;" id="button-submit">
                            {% if form_data_present %}
                                Update
                            {% else %}
                                Create
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="table-responsive">
                <h6 style="color:#3333cc">Please log in to create or update data</h6>
            </div>
        {% endif %}
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <h3>Job Classes</h3>
            <table id="jobclass_table" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Code</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Code</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if jobclasses %}
                        {% for jobclass in jobclasses %}
                            <tr>
                                <td><a href="/jobclasses/{{ jobclass.id }}">{{ jobclass.title }}</a></td>
                                <td>{{ jobclass.description }}</td>
                                <td>{{ jobclass.code }}</td>
                                <td>{{ jobclass.created_at }}</td>
                                <td>{{ jobclass.updated_at }}</td>
                                <td>{{ jobclass.created_by }}</td>
                                <td>{{ jobclass.last_updated_by }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
