{% load static %}
<div class="card shadow mb-4" xmlns="http://www.w3.org/1999/html">
    <div class="card-header py-3">
        <a href="/"><h6 class="m-0 font-weight-bold text-primary" style="float:left; padding-right: 9em;">MeritBridge Replacement App</h6></a>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div style="margin-top:1em; margin-bottom:1em; margin-right:2em;" class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="card-body">
        {% if user.is_authenticated and user_is_in_admins %}
            <div class="table-responsive">
                {% if form_data_present %}
                    <h3>Update Long Running Task Type<span style="font-size:0.7em">(or <a href='/longrunningtasktypes'>create a new Long Running Task Type</a>)</span></h3>
                    <form id='form_to_submit' action="/update_longrunningtasktype_form/{{ pk }}" method="post">
                {% else %}
                    <h3>Create Long Running Task Type</h3>
                    <form id='form_to_submit' action="/create_longrunningtasktype_form" method="post">
                {% endif %}
                    {% csrf_token %}

                    {% if form.errors or form.non_field_errors %}
                        <p>{{ form.errors }}</p>
                        <p>{{ form.non_field_errors }}</p>
                    {% endif %}

                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.type.errors }}
                        <label for="{{ form.type.id_for_label }}">Type</label>
                        <br />
                        {{ form.type }}
                    </div>
                    <br />
                    <div class="fieldWrapper" style="margin-left: 1em;">
                        {{ form.description.errors }}
                        <label for="{{ form.description.id_for_label }}">Description</label>
                        <br />
                        {{ form.description }}
                    </div>
                    <br />
                    <div>
                        <button type="submit" class="btn btn-primary" style="margin-left:1em;" id="button-submit">
                            {% if form_data_present %}
                                Update
                            {% else %}
                                Create
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="table-responsive">
                <h6 style="color:#3333cc">Please log in to create or update data</h6>
            </div>
        {% endif %}
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <h3>Long Running Task Types</h3>
            <table id="longrunningtasktype_table" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if longrunningtasktypes %}
                        {% for longrunningtasktype in longrunningtasktypes %}
                            <tr>
                                <td><a href="/longrunningtasktypes/{{ longrunningtasktype.id }}">{{ longrunningtasktype.type }}</a></td>
                                <td>{{ longrunningtasktype.description|default_if_none:"" }}</td>
                                <td>{{ longrunningtasktype.created_at|default_if_none:"" }}</td>
                                <td>{{ longrunningtasktype.updated_at|default_if_none:"" }}</td>
                                <td>{{ longrunningtasktype.created_by|default_if_none:"" }}</td>
                                <td>{{ longrunningtasktype.last_updated_by|default_if_none:"" }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
