{% load static %}
<div class="card shadow mb-4" xmlns="http://www.w3.org/1999/html">
    <div class="card-header py-3">
        <a href="/"><h6 class="m-0 font-weight-bold text-primary" style="float:left; padding-right: 9em;">MeritBridge Replacement App</h6></a>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div style="margin-top:1em; margin-bottom:1em; margin-right:2em;" class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
    {% if user.is_authenticated and user_is_in_admins %}

    {% endif %}

    <div class="card-body">
        <div class="table-responsive">
            <h3>New, Modern Web Application for Replacing MeritBridge</h3>

            <p>Created and maintained by <span style='color:black;'>Ryan Chausse (chausse@gmail.com)</span> in my spare time, with my own resources.</p>
            <p>Goal: to create a more fault tolerant, predictable, performant, and easy-to-use interface to implement San Francisco's civil service rules regarding hiring.</p>
            <p>Current time from git push to production deployment: <span style='color:green;'>35 seconds</span></p>
            <p>You must log in to create and update Eligible Lists, Positions, etc.</p>
            <p><a href='/roadmap'>Project Roadmap</a></p>
        </div>
    </div>
    <div class="card-body">
        <h2>Dashboard:</h2>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <h3>Eligible Lists</h3>
            <table id="eligible_list_table" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Job Class</th>
                        <th>Specialty</th>
                        <th>Posted</th>
                        <th>Inspection Start</th>
                        <th>Inspection End</th>
                        <th>Adopted</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Code</th>
                        <th>Job Class</th>
                        <th>Specialty</th>
                        <th>Posted</th>
                        <th>Inspection Start</th>
                        <th>Inspection End</th>
                        <th>Adopted</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if eligible_lists %}
                        {% for eligible_list in eligible_lists %}
                            <tr>
                                <td><a href="/eligible_lists/{{ eligible_list.id }}">{{ eligible_list.code }}</a></td>
                                <td>{{ eligible_list.job_class }}</td>
                                <td>{{ eligible_list.specialty }}</td>
                                <td>{{ eligible_list.posted }}</td>
                                <td>{{ eligible_list.inspection_start }}</td>
                                <td>{{ eligible_list.inspection_end }}</td>
                                <td>{{ eligible_list.adopted }}</td>
                                <td>{{ eligible_list.created_at }}</td>
                                <td>{{ eligible_list.updated_at }}</td>
                                <td>{{ eligible_list.created_by }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <h3>Positions</h3>
            <table id="position_table" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Position Number</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Position Number</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if positions %}
                        {% for position in positions %}
                            <tr>
                                <td><a href="/positions/{{ position.id }}">{{ position.number }}</a></td>
                                <td>{{ position.created_at }}</td>
                                <td>{{ position.updated_at }}</td>
                                <td>{{ position.created_by }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <h3>Referred Candidates</h3>
            <table id="referralcandidate_table" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ReferralCandidate ID</th>
                        <th>Referral</th>
                        <th>Candidate</th>
                        <th>Notes</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ReferralCandidate ID</th>
                        <th>Referral</th>
                        <th>Candidate</th>
                        <th>Notes</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if referralcandidates %}
                        {% for referralcandidate in referralcandidates %}
                            <tr>
                                <td><a href="/referralcandidates/{{ referralcandidate.id }}">{{ referralcandidate.id }}</a></td>
                                <td>{{ referralcandidate.referral }}</td>
                                <td>{{ referralcandidate.candidate }}</td>
                                <td>{{ referralcandidate.notes }}</td>
                                <td>{{ referralcandidate.created_at }}</td>
                                <td>{{ referralcandidate.updated_at }}</td>
                                <td>{{ referralcandidate.created_by }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
