{% load static %}
<div class="card shadow mb-4" xmlns="http://www.w3.org/1999/html">
    <div class="card-header py-3">
        <a href="/"><h6 class="m-0 font-weight-bold text-primary" style="float:left; padding-right: 9em;">MeritBridge Replacement App</h6></a>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div style="margin-top:1em; margin-bottom:1em; margin-right:2em;" class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="card-body">
        <div class="table-responsive">
            <h3>Welcome to the New MeritBridge</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <h3>Eligible Lists</h3>
            <table id="eligible_list_table" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Job Class</th>
                        <th>Specialty</th>
                        <th>Eligible List Rule</th>
                        <th>Scoring Model</th>
                        <th>Posted</th>
                        <th>Inspection Start</th>
                        <th>Inspection End</th>
                        <th>Adopted</th>
                        <th>Eligible List PDF</th>
                        <th>Eligible List CSV</th>
                        <th>Score Report PDF</th>
                        <th>Score Report CSV</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Code</th>
                        <th>Job Class</th>
                        <th>Specialty</th>
                        <th>Eligible List Rule</th>
                        <th>Scoring Model</th>
                        <th>Posted</th>
                        <th>Inspection Start</th>
                        <th>Inspection End</th>
                        <th>Adopted</th>
                        <th>Eligible List PDF</th>
                        <th>Eligible List CSV</th>
                        <th>Score Report PDF</th>
                        <th>Score Report CSV</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if eligible_lists %}
                        {% for eligible_list in eligible_lists %}
                            <tr>
                                <td><a href="/eligible_lists/{{ eligible_list.id }}">{{ eligible_list.code }}</a></td>
                                <td>{{ eligible_list.job_class }}</td>
                                <td>{{ eligible_list.specialty }}</td>
                                <td>{{ eligible_list.eligible_list_rule }}</td>
                                <td>{{ eligible_list.scoring_model }}</td>
                                {% if eligible_list.posted %}
                                    <td>{{ eligible_list.posted }}</td>
                                {% else %}
                                    <td>
                                        <form id='post_el_form' action="/post_eligible_list" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="el_id" value="{{ eligible_list.id }}">
                                            <button type="submit" class="btn btn-primary"" id="button-submit">Post</button>
                                        </form>
                                    </td>
                                {% endif %}
                                <td>{{ eligible_list.inspection_start }}</td>
                                <td>{{ eligible_list.inspection_end }}</td>
                                {% if eligible_list.adopted %}
                                    <td>{{ eligible_list.adopted }}</td>
                                {% else %}
                                    <td>
                                        <form id='adopt_el_form' action="/adopt_eligible_list" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="el_id" value="{{ eligible_list.id }}">
                                            <button type="submit" class="btn btn-primary"" id="button-submit">Adopt</button>
                                        </form>
                                    </td>
                                {% endif %}
                                <td>
                                    <a href='/eligible_list_pdf/{{ eligible_list.id }}' target="_blank">Eligible List PDF</a>
                                </td>
                                <td>
                                    <a href='/eligible_list_csv/{{ eligible_list.id }}'>Eligible List CSV</a>
                                </td>
                                <td>
                                    <a href='/score_report_pdf/{{ eligible_list.id }}' target="_blank">Score Report PDF</a>
                                </td>
                                <td>
                                    <a href='/score_report_csv/{{ eligible_list.id }}'>Score Report CSV</a>
                                </td>
                                <td>{{ eligible_list.created_at }}</td>
                                <td>{{ eligible_list.updated_at }}</td>
                                <td>{{ eligible_list.created_by }}</td>
                                <td>{{ eligible_list.last_updated_by }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <h3>Positions</h3>
            <table id="position_table" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Position Number</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Position Number</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if positions %}
                        {% for position in positions %}
                            <tr>
                                <td><a href="/positions/{{ position.id }}">{{ position.number }}</a></td>
                                <td>{{ position.created_at }}</td>
                                <td>{{ position.updated_at }}</td>
                                <td>{{ position.created_by }}</td>
                                <td>{{ position.last_updated_by }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <h3>Referral Candidates</h3>
            <table id="eligiblelistcandidatereferral_table" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Referral Candidate ID</th>
                        <th>Eligible List Candidate</th>
                        <th>Referral</th>
                        <th>Status</th>
                        <th>Notes</th>
                        <th>Active</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Referral Candidate ID</th>
                        <th>Eligible List Candidate</th>
                        <th>Referral</th>
                        <th>Status</th>
                        <th>Notes</th>
                        <th>Active</th>
                        <th>Created At</th>
                        <th>Updated At</th>
                        <th>Created By</th>
                        <th>Last Updated By</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% if eligible_list_candidate_referrals %}
                        {% for eligible_list_candidate_referral in eligible_list_candidate_referrals %}
                            <tr>
                                <td><a href="/eligiblelistcandidatereferrals/{{ eligible_list_candidate_referral.id }}">{{ eligible_list_candidate_referral.id }}</a></td>
                                <td>{{ eligible_list_candidate_referral.eligible_list_candidate }}</td>
                                <td>{{ eligible_list_candidate_referral.referral }}</td>
                                <td>{{ eligible_list_candidate_referral.status }}</td>
                                {% if eligible_list_candidate_referral.active %}
                                    <td>
                                        <form id='mark_inactive_el_form' action="/toggle_active_status_eligiblelistcandidatereferral" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="elcandidatereferral_id" value="{{ eligible_list_candidate_referral.id }}">
                                            <button type="submit" class="btn btn-success"" id="button-submit">Active</button>
                                        </form>
                                    </td>
                                {% else %}
                                <td>
                                    <form id='mark_active_el_form' action="/toggle_active_status_eligiblelistcandidatereferral" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="elcandidatereferral_id" value="{{ eligible_list_candidate_referral.id }}">
                                        <button type="submit" class="btn btn-danger"" id="button-submit">Inactive</button>
                                    </form>
                                </td>
                                {% endif %}
                                <td>{{ eligible_list_candidate_referral.notes }}</td>
                                <td>{{ eligible_list_candidate_referral.created_at }}</td>
                                <td>{{ eligible_list_candidate_referral.updated_at }}</td>
                                <td>{{ eligible_list_candidate_referral.created_by }}</td>
                                <td>{{ eligible_list_candidate_referral.last_updated_by }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
