{% load static %}
<div class="card shadow mb-4" xmlns="http://www.w3.org/1999/html">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" style="float:left; padding-right: 9em;">Psych Forms</h6>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div style="margin-top:1em; margin-bottom:1em; margin-right:2em;" class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
    {% if user.is_authenticated and user_is_in_admins %}
        <div class="card-body">
            <div class="table-responsive">
                <table id="dtBasicExample" class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Patient</th>
                            <th>Facility</th>
                            <th>Physician</th>
                            <th>Date</th>
                            <th>PDF</th>
                            <th>New Form Link</th>
                            <th>Email Sent?</th>
                            {% if user.is_authenticated and user_is_in_non_bal_group %}
                                <th>Bal Accessed Time</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Patient</th>
                            <th>Facility</th>
                            <th>Physician</th>
                            <th>Date</th>
                            <th>PDF</th>
                            <th>New Form Link</th>
                            <th>Email Sent?</th>
                            {% if user.is_authenticated and user_is_in_non_bal_group %}
                                <th>Bal Accessed Time</th>
                            {% endif %}
                        </tr>
                    </tfoot>
                    <tbody>
                        {% if norm_forms %}
                            {% for norm_form in norm_forms %}
                                <tr>
                                    <td>{{ norm_form.patient }}</td>
                                    <td>{{ norm_form.facility }}</td>
                                    <td>{% if norm_form.physician == None %}---{% else %}{{ norm_form.physician }}{% endif %}</td>
                                    <td>{{ norm_form.date }}</td>
                                    <td><a href="/get_pdf/{{ norm_form.id }}" target="_blank">View PDF</a></td>
                                    <td><a href="/{{ norm_form.id }}">View / Submit Another</a></td>
                                    <td>
                                        {% if norm_form.emailed %}
                                            <span style="color:green">Email sent</span>
                                        {% else %}
                                            <span style="color:red"><a href="/email_bal/{{ norm_form.id }}">Email Bal</a></span>
                                        {% endif %}
                                    </td>
                                    {% if user.is_authenticated and user_is_in_non_bal_group %}
                                        <td>
                                            {% if norm_form.bal_accessed %}
                                                {{ norm_form.bal_accessed }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>

    {% endif %}
